.AppHeaderLine {
    height: 7px;
    background-color: #0e3147;
  }

.Line {
    height: 7px;
    background-color: #09BC8A;
}

.StateMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.StateContainer {
    width: 60%;
    height: auto;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.StateContainerInfo {
    width: 50%;
    height: auto;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.StateContainerInfoBox {
  width: 40%;
  /* background-color: #09BC8A; */
}

.LabelColor {
  color: #09bc89 ;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.StateContainerInfoLabel {
  float: left;
  margin-left: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}

.StateContainerInfoText {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-radius: 8px;
  border: 1px solid #ccc; 
  margin-bottom: 18px;
}


/* Estiliza o próprio select */
.CustomSelect {
    appearance: none;
    padding: 10px; 
    font-size: 16px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    background-color: #fff;
    width: 100%;
    margin-top: 10px;
    cursor: pointer; 
  }
  
  /* Estiliza a opção selecionada */
  .CustomSelect option:checked {
    background-color: #f0f0f0;
    color: #333;
  }
  
  /* Estiliza as opções do dropdown */
  .CustomSelect option {
    padding: 10px;
    background-color: #fff;
    color: #333;
  }
  
  /* Estiliza o hover sobre as opções do dropdown */
  .CustomSelect option:hover {
    background-color: #e0e0e0;
  }
  